/*Movie Page*/

.movie-page {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .movie-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    border: 5px solid #ffffff;
  }
  
  .movie-page .buttons button,
  .movie-page .favorite-button button {
    background-color: #771414;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .movie-page .favorite-button button.favorite {
    background-color: #771414;
  }
  
  .movie-page .favorite-button button.not-favorite {
    background-color: #360303;
  }
  
  .movie-page .content {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .movie-page h2 {
    margin-bottom: 10px;
    background-color: #000000;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: auto;
    border: 5px solid #ffffff;
    padding-bottom: 10px;
  }
  
  .movie-page .movie-details {
    text-align: center;
  }
  
  .movie-page .details-container {
    background-color: #000000;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border: 5px solid #ffffff;
    margin: 20px 0;
    padding: 20px;
  }
  
  .movie-page .poster {
    max-width: 300px;
    margin: auto;
    border: 5px solid #ffffff;
    padding-right: 20px;
  }
  
  .movie-page .poster img {
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .movie-page .title-container {
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .movie-page .overview {
    flex: 1;
    max-width: 400px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .movie-page .scores {
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .movie-page .score,
  .movie-page .user-score,
  .movie-page .director-stars,
  .movie-page .details-row,
  .movie-page .comments {
    background-color: #000000;
    color: white;
    border: 5px solid #ffffff;
    margin-right: 50px;
    padding: 20px;
    
  }
  
  .movie-page .details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .movie-page .year,
  .movie-page .genres,
  .movie-page .time {
    flex: 1;
    text-align: left;
    padding: 10px;
    margin: 10px;
  }
  
  .movie-page .comments textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .score-adjustment {
    align-items: center;
  }
  
  .score-adjustment button {
    font-size: 10px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
  }
  
  .add-comment {
    margin-top: 10px;
  }
  
  .add-comment textarea {
    margin-bottom: 10px;
  }